@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --Soft-orange: hsl(35, 77%, 62%);
    --Soft-red: hsl(5, 85%, 63%);
    --Off-white: hsl(36, 100%, 99%);
    --Grayish-blue: hsl(233, 8%, 79%);
    --Dark-grayish-blue: hsl(236, 13%, 42%);
    --Very-dark-blue: hsl(240, 100%, 5%);
}
body{
    font-family: 'Inter', sans-serif;
    display: flex;
    place-items: center;
    min-height: 100vh;
}
main{
    display: flex;
    flex-direction: column;
    padding: 20px 15px 70px 15px;
    gap: 30px;
    background-color: white;
}
/* <-------------nav section----------------> */
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.span-menu{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #fff;
    transform: translateX(200%);
    padding: 20px;
    transition: all .5s ease;
    z-index: 1;
}
.close{
   position: absolute;
   right: 34%;
   top: 4%;
   
}
nav a img{
    width: 50px;
}
nav .list{
    padding-top: 10px;
}
.span-menu ul{
 margin-top: 35%;
 list-style: none;
 display: flex;
 flex-direction: column;
 gap: 25px;
 transition: all 1s ease ;
}
li a{
    font-size: 1.8em;
    position: relative;
    color: #252839;
    text-decoration: none;
    -webkit-text-stroke: 1px rgba(255,255,255,.5);
}
ul li a::before{ 
    content: attr(data-text);
    position: absolute;
    width: 0;
    color: var(--clr);
    overflow: hidden;
    transition: 1s;
    border-right: 8px solid var(--clr);
    -webkit-text-stroke: 1px var(--clr);
}
ul li a:hover::before{
    width: 100%;
   filter: drop-shadow(0 0 25px var(--clr));
}
@keyframes animate{
    0%,10%,100%{
        width:0%;
    }
    70%,90%{
        width:100%;
    }
}

/* <-------------web3-section----------------> */
.web3-section{
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.web3-section h1{
    font-weight: 800;
    font-size: 2.9em;
}
.web3-section p{
    font-weight: 400;
    color: var(--Dark-grayish-blue);
    line-height: 26px;
    font-size: .95em;
}
.web3-section button{
    width: 50%;
    padding: 15px;
    background-color: var(--Soft-red);
    color: #fff;
    border: none;
    font-weight: 400;
    font-size: .8em;
    letter-spacing: 4px;
    text-transform: uppercase;
    cursor: pointer;
}
button:hover {
    background-color: var(--Very-dark-blue);
    transition: all 1s ease;
}
/* <-------------new-section----------------> */
.new-section{
    margin-top: 30px;
    padding: 25px 28px 25px 18px;
    height: 490px;
    background-color: var(--Very-dark-blue);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.new-section hr{
    border-color: var(--Dark-grayish-blue);
}
.new-section h2{
    font-weight: 700;
    font-size: 2em;
    color: var(--Soft-orange);
}
.new-section p span{
    color: var(--Off-white);
    font-size: 1.3em;
    font-weight: 700;
    line-height: 35px;
}
.new-section span:hover{
    transition: all 1s ease;
    color: var(--Soft-orange);
}
.new-section p{
    line-height: 25px;
    color: var(--Grayish-blue);
    font-size: .9em;
}

/* <-------------cards-section----------------> */
.cards{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 30px;
}
.card{
 display: flex;
 flex-direction: row;
 gap: 30px;
 
}
.contain-card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
}
.card img{
    width: 101px;
}
.card h3{
    font-size: 2.5em;
    color: var(--Grayish-blue);
}
.card span{
    font-weight: 700;
    font-size: 1.15em;
    color: var(--Very-dark-blue);
}
.card span:hover{
    color: var(--Soft-red);
}
.card p{
font-size: .98em;
 color: var(--Grayish-blue);
 line-height: 30px;
}
.span-menu-list {
    display: none;
}
/* responsive mobile -more-than: Mobile: 600px */
@media only screen and (min-width:600px){
    main{
        padding: 78px 163px 78px 163px;
        position: relative;
    }
header .span-menu img{
    display: none;
    
}
main nav .list img{
    display: none;
}
nav{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30%;
}
.span-menu-list{
    display: block;
}
 .span-menu-list ul{
    grid-column: 2/-1;
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 15px;
 }
 nav a img{
    grid-column: 1/2;
 }
 .span-menu-list ul li a {
    font-size: 1.5em;
 }
 /* <----------hidden de span menu responsive---------> */
#span-menu-id{
    display: none;
}
/* <------------contain top-box--------------> */
.contain-top-box {
display: grid;
grid-template-columns: repeat(3,1fr);
gap: 30px;
}
.new-section{
    margin-top: 0;
    grid-column: 2/-1;
}
.cards{
    display: flex;
    flex-direction: row;
}

.web3-section picture img{
    width: 730px ;
    height: 300px;
    grid-column: 1/2;
}
.stats{
   display: grid;
   grid-template-columns: repeat(2,1fr);
    gap: 35px;
}
.p-button {
    display: flex;
    flex-direction: column;
    gap: 35px;  
}
.stats h1{
    font-size: 4em;
}
}






/* .attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); } */